:root {
  --bg-primary: #e1e1e1;
}

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Press Start 2P', system-ui;
  min-height: 100vh;
  background-color: #828282;
  margin: 0;
  display: grid;
  gap: 10px;
  grid-template-rows: 92px 1fr;
  grid-template-columns: 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: #32332f;

  grid-row: 1/2;
  grid-column: 1/2;
  background-color: var(--bg-primary);
  box-shadow:
    inset 0px 0px 4px 5px rgba(64, 26, 2, 0.26),
    0px 4px 10px 0px rgba(43, 16, 0, 0.178);
}

.dropDown {
  display: grid;
  align-items: center;
}

.header button {
  position: relative;
  z-index: 1;
  border: none;
  background-color: #32332f;
  color: #e1e1e1;
  font-family: inherit;
  font-size: clamp(10px, 16px, 16px);
  border-radius: 105px;
  height: clamp(40px, 50px, 50px);
  width: clamp(108px, 240px, 240px);
  box-shadow:
    inset 0px -5px 6.5px 2px rgba(0, 0, 0, 0.65),
    0px 0px 3px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
}

.header .dropDown:hover button {
  transform: perspective(80px) translateY(0.5px) translateZ(-0.5px);
  box-shadow:
    inset 0px -2.5px 3.25px 2px rgba(0, 0, 0, 0.65),
    0px 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.options {
  position: absolute;
  background-color: #282b7c;
  color: #e1e1e1;
  border-radius: 30px;
  z-index: 0;
  transform: translateY(90px);
  height: fit-content;
  padding: 25px 0px;
  width: clamp(108px, 240px, 240px);
  box-shadow:
    inset 0px -4px 6.5px 2px rgba(0, 0, 0, 0.65),
    0px 0px 3px 5px rgba(0, 0, 0, 0.15);
}

.options ul {
  transform: translateY(15px);
  padding: 0;
  list-style: none;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.options li {
  height: 40px;
  padding: 0px 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}

.options li.selected {
  color: #32332f;
  background-color: #e1e1e1;
  border-radius: 20px;
  box-shadow: inset 0px -4px 5px -1px rgba(0, 0, 0, 0.65);
}

.main {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: var(--bg-primary);
  box-shadow:
    inset 0px 0px 4px 5px rgba(64, 26, 2, 0.26),
    0px 4px 4px 10px rgba(231, 231, 231, 0.73);
}

.display {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(10, 50px);
}

.display .row {
  box-sizing: border-box;
  display: flex;
  grid-area: auto;
}

.row .empty,
.occupied {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.row .occupied {
  background-color: rgba(8, 155, 8, 0.123);
  border: 1px solid rgb(0, 236, 32);
}
